/* Ingresa tu código CSS aquí */
.navbar-default{background-color: white;}

#main-menu.navbar-default .navbar-nav > li.active > a, #main-menu.navbar-default .navbar-nav > li.open > a, #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 37px;
    border-top: 3px solid #45aed6;
}

#main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
}
@media(max-width: 767px){
	#main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
	}
	#main-menu.navbar-default .navbar-nav > li.active > a, #main-menu.navbar-default .navbar-nav > li.open > a, #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 17px;
    border-top: 3px solid #45aed6;
	}
	.logo{height: 31px}
}
.item{
	height: 550px;
    background-repeat: no-repeat;
}
.contenido{
	margin-top: 45%;
    color: white;
}
.contenido h1 span{color: #45aed6;}

.carousel-control {width: 4%;}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {max-width: 111%;}
/*portafolio*/
#portfolio {
    padding: 100px 0;
    background: #f5f5f5;
}
/*contacto*/
#get-in-touch {
    padding: 60px 0 67px;
    background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    color: #fff;
}
#contact .container-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(69, 174, 214, 0.3);
    z-index: 1;
    padding-top: -50%
}